<div id="classHeader">
    <table class="header-table">
    <tr class="top-aligned-row">
      <td><strong><%= values["classmod"] %></strong></td>
      <td class="class-name-in-header"><%= values["full_name"] %></td>
    </tr>
    <tr class="top-aligned-row">
        <td><strong>In:</strong></td>
        <td>
        <% values["infiles"].each do |infiles| %>
        <% if infiles["full_path_url"] then %>
            <a href="<%= infiles["full_path_url"] %>">
        <% end %>
            <%= infiles["full_path"] %>
        <% if infiles["full_path_url"] then %>
            </a>
        <% end %>
        <% if infiles["cvsurl"] then %>
          (<a href="<%= infiles["cvsurl"] %>">source online</a>)
        <% end %>
    <br />
        <% end # values["infiles"] %>
        </td>
    </tr>

    <% if values["parent"] then %>
    <tr class="top-aligned-row">
        <td><strong>Parent:</strong></td>
        <td>
    <% if values["par_url"] then %>
            <a href="<%= values["par_url"] %>">
    <% end %>
            <%= values["parent"] %>
      <% if values["par_url"] then %>
           </a>
      <% end %>
        </td>
    </tr>
    <% end %>
    </table>
</div>
