<?xml version="1.0" encoding="<%= values["charset"] %>"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

    <%= values["list_title"] %>

  -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= values["list_title"] %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= values["charset"] %>" />
  <link rel="stylesheet" href="<%= values["style_url"] %>" type="text/css" />
  <base target="docwin" />
</head>
<body>
<div id="index">
  <h1 class="section-bar"><%= values["list_title"] %></h1>
  <div id="index-entries">
<% values["entries"].each do |entries| %>
    <a href="<%= entries["href"] %>"><%= entries["name"] %></a><br />
<% end # values["entries"] %>
  </div>
</div>
</body>
</html>

