#class
  .header
    .name
      %span.type= values["classmod"]
      = values["full_name"]
    %ol.paths
      - for file in values["infiles"]
        %li
          = link_to file["full_path"], file["full_path_url"]
          - if file["cvsurl"]
            == (#{link_to 'view online', file["cvsurl"]})
            
    - if values["parent"] then
      .parent
        Parent:
        %strong= link_to values["parent"], values["par_url"]
      
  #content~ yield
