%h1= values["list_title"]
- type = values["list_title"].downcase
- any_hidden = false

- if type == 'methods'
  %script{:type => 'text/javascript'}
    = read("prototype-1.6.0.3.js")
    = build_javascript_search_index(values["entries"])
    = read("method_search.js")
  %form{:onsubmit => 'return performSearch()'}
    %input{:type => 'text', :id => 'search', :class => 'untouched', :value => 'Enter search terms...'}
  %ol#search-results{ :class => type, :style => 'display: none' }

%ol#index-entries{ :class => type }
  - for entry in values["entries"]
    - hide = type == 'files' && entry['name'] =~ /\.rb$/
    - any_hidden = true if hide
    - if type == 'methods'
      %li{ :class => hide ? 'other' : nil }= link_to_method entry['name'], entry['href']
    - else
      %li{ :class => hide ? 'other' : nil }= link_to entry['name'], entry['href']

  - if any_hidden
    %li
      %a.show{ :href => '#', :onclick => 'this.parentNode.parentNode.className += " expanded"; this.parentNode.removeChild(this); return false' } show all
