%h1&= page_title

- if main_page
  #main.description
    ~ sanitize_code_blocks main_page.description.sub(%r{^\s*<h1.*?/h1>}, '')

%ol
  - for klass in classes
    %li
      %h3= klass.full_name
      = klass.path
      %pre&= klass.description
      %ol
        - for section in klass.sections
          %li
            %pre&= section.description
%h2 Files
%ol#files
  - for file in files
    %li&= file.relative_name

%h2 Methods
%ol#methods
  - for method in methods
    %li{ :class => method.visibility }
      %span.name= method.name
      %span.classmod== (#{method.parent.full_name})
