- file_page = !values[:classmod]
- title_in_description = values[:file].description && values[:file].description =~ /^\s*<h1>/m

.header
  - title = capture_haml do
    - if file_page
      = values[:file].name
    - else
      %span.type= values[:classmod]
      = values[:file].path
  - if title_in_description
    .name= title
  - else
    %h1.name= title
    
  - if file_page
    .paths
      = values[:file].relative_name
      -#- if values[:cvsurl]
        -#== (#{link_to 'view online', values[:cvsurl]})
  - else
    %ol.paths
      - values[:infiles].each_with_index do |file, index|
        %li{ :class => index > 0 ? 'other' : nil }
          = link_to file[:full_path], file[:full_path_url]
          - if file[:cvsurl]
            == (#{link_to 'view online', file[:cvsurl]})
      - if values[:infiles].size > 1
        %li
          %a.show{ :href => '#', :onclick => 'this.parentNode.parentNode.className += " expanded"; this.parentNode.removeChild(this); return false' } show all
          
  - if values[:file].parent 
    .parent
      Parent:
      %strong= link_to values[:file].parent, values[:file].parent.name

  - if values[:dtm_modified]
    .last-update
      Last Update:
      %span.datetime= values[:dtm_modified]
    
#content
  #text
    - if values[:description]
      #description~ sanitize_code_blocks frame_link values[:description]

    = sanitize_code_blocks frame_link yield
